:root {
    --bg-color: #ffffff;
    --header-color: #363e45;
    --gray-text: rgba(54, 62, 69, 0.64);
    --content-width: 1140px;
    --h1-font-size: 48px;
    --h3-font-size: 20px;
    --sm-text-font-size: 14px;
    --text-font-size: 16px;
    --font-weight: 400;
}

body {
    font-family: "Arial";
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

.Content {
    width: var(--content-width);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.menu {
    display: flex;
    gap: 8px;
}

.menu-button {
    padding: 16px 20px;
    border: 1px solid rgba(152, 163, 174, 0.48);
    border-radius: 8px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.menu-label {
    font-size: var(--sm-text-font-size);
    font-weight: var(--font-weight);
    line-height: 16px;
    color: var(--header-color);
    text-align: center;
}

.image-container {
    overflow: hidden;
    border-radius: 8px;
}

.section-header {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight);
    color: var(--header-color);
    margin: 0;
}

/* header */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

/* about */
#about {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .section-header {
        line-height: 58px;
        white-space: pre-line;
    }

    .image-container {
        width: var(--content-width);
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* experience */
#experience {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .section-header {
        line-height: 48px;
    }
}

.experience__text {
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
    color: var(--gray-text);
    line-height: 24px;
    margin: 0;
    padding-bottom: 16px;
}

.experience-info {
    display: flex;
    flex-direction: row;

    .text {
        display: inline-block;
        flex-direction: column;
        width: 554px;
        gap: 16px;

        .frame-5847 {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .title {
                font-size: var(--h3-font-size);
                color: var(--header-color);
                padding-bottom: 0;
            }
        }

        .period {
            color: var(--header-color);
        }
    }

    .image-container {
        width: 554px;
        height: 400px;
        margin-left: 32px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* footer */
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0;

    .social-media {
        display: flex;
        gap: 32px;

        .social-link {
            padding: 2px 2px;

            .social-icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .copyright {
        font-size: var(--sm-text-font-size);
        font-weight: var(--font-weight);
        color: var(--gray-text);
        margin: 0;
    }
}
